<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Base</title>
    <link rel="stylesheet" href="{{settings.RES_URL}}/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{settings.CSS_URL}}/style.css">
	
	<script type="text/javascript" src="{{settings.JS_URL}}/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{settings.RES_URL}}/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	{% include "navi.html" %}
	<div class="container-fluid" id="container">Home - MyBeer</div>
</body>
</html>