<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Base</title>
    <link rel="stylesheet" href="{{settings.RES_URL}}/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{settings.CSS_URL}}/style.css">
	
	<script type="text/javascript" src="{{settings.JS_URL}}/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{settings.RES_URL}}/bootstrap/js/bootstrap.min.js"></script>
    
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script>
	
		function get_temperature(){
			$.get('{% url "get_temperature" %}', function(resp) {
				console.log(resp);
			});
		}
		
		function start_raspbeer(){
			$.get('{% url "start_raspbeer" %}', function(resp) {
				console.log(resp);
			});
		}
		
		function get_info(){
			$.get('{% url "get_info" %}', function(resp) {
				console.log(resp);
			});
		}
	</script>
</head>
<body>
	{% include "navi.html" %}
	<div class="container-fluid" id="container">{% block 'container' %}Home - MyBeer{%endblock%}</div>
</body>
</html>