<nav class="navbar navbar-default" role="navigation">	
	<div class="container-fluid">
	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			<ul class="nav navbar-nav navbar-left">
				<li><a href="{% url 'render_home' %}" class="m_elem">Home</a></li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ricetta <span class="caret"></span></a>
					<ul class="dropdown-menu header-dropdown-list" role="menu" aria-labelledby="dropdown-profile">
						<li role="presentation" id="nuova_ricetta"><a role="menuitem" tabindex="-1" href="javascript:;">Nuova</a></li>
						<li role="presentation" id="lista_ricetta"><a role="menuitem" tabindex="-1" href="javascript:;">Lista</a></li>
					</ul> <!-- dropdown menu -->
				</li>
				
				{%if user.is_superuser %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrator <span class="caret"></span></a>
					<ul class="dropdown-menu header-dropdown-list" role="menu" aria-labelledby="dropdown-profile">
						<li role="presentation"><a role="menuitem" tabindex="1" href="{% url 'admin:index' %}">Admin</a></li>
					</ul> <!-- dropdown menu -->
				</li>
				
				
				{% endif %}				
			</ul>
		</div>
	
	</div>
</nav>
<script>
	$(document).ready(function(){
		$(document).on('click', '.jump', function(){
			document.location.href = $(this).attr('jump');
		});
		
		$(document).on('click', '#nuova_ricetta', function(){
			render_nuova_ricetta();
		});
		
		$(document).on('click', '#lista_ricetta', function(){
			render_lista_ricetta();
		});
	});
	
	function render_nuova_ricetta(){
		$.get("{% url 'render_nuova_ricetta' %}", {}, function(data){
			$('#container').html(data);
		});
	}
	
	function render_ricetta(elem){
		var ricetta_id = $(elem).attr('ricetta_id');
		$.get("{% url 'render_nuova_ricetta' %}", {ricetta_id:ricetta_id}, function(data){
			$('#container').html(data);
		});
	}
	
	function render_lista_ricetta(){
		$.get("{% url 'render_lista_ricette' %}", {}, function(data){
			$('#container').html(data);
		});
	}
</script>