<script>
	
	$(document).ready(function (){
		$('#send_forms').click(function(){
			send_ricetta();
		});
		
		$('#add_coppia').click(function(e){
			e.preventDefault();
			
			//$.get("{%url 'render_form_coppia_cottura' %}", {}, function(resp) {
			//	$('#tem_dialog').html(resp['html']);
			//});
			
			show_dialog();
		});
	});
	
	function show_dialog(){
		$( "#tem_dialog" ).dialog({
			modal: true,
			buttons: {
				Chiudi: function() {
					$( this ).dialog( "close" );
				}, 
				Aggiungi: function(){
					aggiungi_coppia($(this));
				}
			}
		});
	}
	
	function show_dialog_mod(){
		$( "#tem_dialog_mod" ).dialog({
			modal: true,
			buttons: {
				Chiudi: function() {
					$( this ).dialog( "close" );
				}, 
				Salva: function(){
					modifica_coppia_dialog($(this));
				}
			}
		});
	}
	
	function send_ricetta(){
		var data = $('#form_nuova_ricetta').serialize();
		
		$.post("{% url 'render_nuova_ricetta' %}", data, function(data, textStatus, jqXHR) {
			resp = $.parseJSON(jqXHR.responseText);
			if(resp['status']==0){
				$('#container').html(resp['html']);
			}
			if(resp['status']==1){
				$('#container').html('Ricetta inserita con id '+resp['ricetta_id']);
				$('#ricetta_id').val(resp['ricetta_id']);
			}
		});
	}
	
	function aggiungi_coppia(dialog){
		var data = dialog.find('form').serialize();
		//console.log(dialog.find('form'));
		
		$.post("{% url 'render_form_coppia_cottura' %}", data, function(data, textStatus, jqXHR) {
			resp = $.parseJSON(jqXHR.responseText);
			if(resp['status']==0){
				$('#tem_dialog').html(resp['html']);
			}
			if(resp['status']==1){
				$(dialog).dialog('close');
				
				$('#tem_dialog').html(resp['html']);
								
				$('#lista_cc').html(resp['html_lista_cc']);
			}
		});
	}
	
	function modifica_coppia_dialog(dialog){
		var data = dialog.find('form').serialize();
		
		$.post("{% url 'render_coppia_modifica' %}", data, function(data, textStatus, jqXHR) {
			resp = $.parseJSON(jqXHR.responseText);
			if(resp['status']==0){
				$('#tem_dialog_mod').html(resp['html']);
			}
			if(resp['status']==1){
				$(dialog).dialog('close');
				$('#tem_dialog_mod').html('');
				$('#lista_cc').html(resp['html_lista_cc']);
			}
		});
	}
</script>

<div class="col-sm-12">
	<form id="form_nuova_ricetta">
		{% csrf_token %}
		<input type="hidden" id="ricetta_id" name="ricetta_id" value="{{ricetta_db.id}}" />
		<table id="tbl_ricetta" class="table table-striped table-bordered table-condensed">
			{{form_ricetta.as_table}}
		</table>
		
		<button class="btn btn-sm" id="add_coppia">Aggiungi coppia cottura</button>
	</form>
	
	<div id="lista_cc">
		{% include "ricetta_lista_coppia.html" %}
	</div>
	
	<div id="tem_dialog" style="display:none;">
		{% include "ricetta_nuova_coppia.html" %}
	</div>	
	
	<div id="tem_dialog_mod" style="display:none;">
	</div>	
	
</div>
<div class="col-sm-12">
	<button class="btn btn-sm" type="submit" id="send_forms">Salva ricetta</button> 
</div>